<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<h3>Comments (<%= @article.comments.size %>)</h3>

<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>

<%= link_to "Удалить", article_path(@article), method: :delete %>
<%= link_to "Редактировать", edit_article_path(@article) %>

<br/>
<p>
	<%= link_to "На главную", articles_path %>
</p>